{% extends "layout.twig" %}

{% block contenido %}
    <h2>Nueva Entrada</h2>
    <p>
        <a class="btn btn-default" href="{{ 'admin/entradas' | url }}">Volver</a>
    </p>
    {% if errores %}
        {% include('partials/errores.twig') %}
    {% endif %}
    {% if result %}
        <div class="alert alert-success">Entrada Guardada</div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="inputTitulo">Titulo</label>
            <input class="form-control" type="text" name="titulo" id="inputTitulo">
        </div>
        <div class="form-group">
            <label for="inputImageno">Imagen</label>
            <input class="form-control" type="text" name="imagen" id="inputImageno">
        </div>
        <textarea class="form-control" name="contenido" id="inputContenido" rows="5"></textarea>
        <br>
        <input class="btn btn btn-primary" type="submit" value="Guardar">
    </form>
{% endblock %}
