{% extends "layout.twig" %}

{% block contenido %}
    <h2>Nueva Entrada</h2>
    <p>
        <a class="btn btn-default" href="{{ 'admin/entradas' | url }}">Volver</a>
    </p>
    {% if errores %}
        {% include('partials/errores.twig') %}
    {% endif %}
    {% if result %}
        <div class="alert alert-success">Entrada Guardada</div>
    {% endif %}
    <form method="post" onsubmit="return validarForm()">
        <div class="form-group">
            <label for="inputTitulo">Titulo</label>
            <input class="form-control" type="text" name="titulo" id="inputTitulo">
        </div>
        <div class="form-group">
            <label for="inputImagen">Imagen</label>
            <input class="form-control" type="text" name="imagen" id="inputImagen">
        </div>
        <textarea class="form-control" name="contenido" id="inputContenido" rows="5"></textarea>
        <br>
        <input class="btn btn btn-primary" type="submit" value="Guardar">
    </form>
{% endblock %}

{% block js %}
    <script>
        function validarForm() {
            var titulo = document.getElementById('inputTitulo').value.trim();
            var contenido = document.getElementById('inputContenido').value.trim();
            if (titulo === '' || contenido === '') {
                swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'El Título y Contenido son Obligatorios'
                });
                return false;
            }
        }
    </script>
{% endblock %}
