{% extends "layout.twig" %}

{% block contenido %}
    <h2>Nuevo Usuario</h2>
    <p>
        <a class="btn btn-default" href="{{ 'admin/usuarios' | url }}">Volver</a>
    </p>
    {% if errores %}
        {% include('partials/errores.twig') %}
    {% endif %}
    {% if result %}
        <div class="alert alert-success">Usuario Guardado</div>
    {% endif %}
    <form method="post" onsubmit="return validarForm()">
        <div class="form-group">
            <label for="inputNombre">Nombre</label>
            <input class="form-control" type="text" name="nombre" id="inputNombre">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input class="form-control" type="text" name="email" id="inputEmail">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input class="form-control" type="password" name="password" id="inputPassword">
        </div>
        <br>
        <input class="btn btn btn-primary" type="submit" value="Guardar">
    </form>
{% endblock %}

{% block js %}
    <script>
        function validarForm() {
            var nombre = document.getElementById('inputNombre').value.trim();
            var email = document.getElementById('inputEmail').value.trim();
            var password = document.getElementById('inputPassword').value.trim();
            if (nombre === '' || email === '' || password === '') {
                swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'El Nombre, Email y Password son Obligatorios'
                });
                return false;
            }
        }
    </script>
{% endblock %}
