{% extends "layout.twig" %}

{% block contenido %}
    <h2>Listado Entradas</h2>
    <a class="btn btn-primary" href="{{ 'admin/entradas/crear' | url }}">Nueva Entrada</a>
    <table class="table">
        <tr>
            <th>Titulo</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
        {% for entrada in entradasBlog %}
            <tr>
                <td>{{ entrada.titulo }}</td>
                <td>Editar</td>
                <td>Borrar</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
