{% extends "layout.twig" %}

{% block contenido %}
    <h2>Panel Admin.</h2>
    <ul>
        <li>
            <a href="{{ 'admin/entradas' | url }}">Admin. Entradas</a>
        </li>
        <li>
            <a href="{{ 'admin/usuarios' | url }}">Admin. Usuarios</a>
        </li>
    </ul>
{% endblock %}
