{% extends "layout.twig" %}

{% block contenido %}
    <h2>Inicio</h2>
    {% for entrada in entradasBlog %}
        <div class="blog-post">
            <h2><a href="{{ 'detalle/' | url }}{{ entrada.id }}">{{ entrada.titulo }}</a></h2>
            <p>08/04/2018 por <a href="">Odei</a></p>
            <div class="blog-post-image">
                {% if entrada.imagen %}
                    <img src="{{ entrada.imagen }}" alt="EntradaBlog">
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
